altgraph==0.10.2
appdirs==1.4.3
bdist-mpkg==0.5.0
click==6.7
Flask==0.12.1
itsdangerous==0.24
Jinja2==2.9.6
lxml==3.7.3
macholib==1.5.1
MarkupSafe==1.0
olefile==0.44
packaging==16.8
py2app==0.7.3
pyee==3.0.3
pyOpenSSL==0.13.1
pyparsing==2.2.0
python-dateutil==1.5
python-docx==0.8.6
pytz==2013.7
requests==2.13.0
six==1.10.0
slackclient==1.0.5
slackeventsapi==1.0.0
virtualenv==15.1.0
websocket-client==0.40.0
Werkzeug==0.12.1
xattr==0.6.4
zope.interface==4.1.1
